*{
    margin: 0%;
}

#container-section{
    height: 600px;
    width: auto;
}
#banner-section{
    background-color: bisque;
    height: 50px;
    width: auto;

}
#menu-section{
height: 100px;
width: auto;
}

#menu-section .nav-elements{
        margin-left: 400px;
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
}

.submenu{
    display: none;
    position: absolute;
}

.menu:hover .submenu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: antiquewhite;
    color: black;
}

.menu .dropbtn{
    background-color: brown;
    border-radius: 7px;
}

.menu:hover .dropbtn {
    background-color: white;
    cursor: pointer;
}

.submenu a{
    text-decoration: none;
}
.submenu a:hover{
    background-color:blue;
    color: black;
}

#content-section{
    height: 400px;
    width: auto;
}
#footer-section{
    height: 50px;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
}
    